body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#changing-table {
  margin-top: 8px;
  width: 360px;
}

td {
  border: 0.2px solid black !important;
  text-align: center;
  height: 60px;
}
